<div class="modal-content modal-lg">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 data-bind="text: title" align="center"></h3>
		</div>
	  
		<div class="modal-body">
			<div class="container-fluid">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Source Details</h3>
					</div>
					
					<div class="panel-body">
						<div class="control-group">
							<label class="control-label" for="inputWarehouse">Warehouse</label>
							<div class="controls">
								<select data-bind="options: warehouseList, optionsValue: 'name', optionsText: function(warehouse) { return ko.unwrap(warehouse.displayName) + ' - ' + ko.unwrap(warehouse.address) }, optionsCaption: '-- Select Source Warehouse --', value: acceptFormModel.warehouse" class="form-control" id="inputWarehouse"></select>
								<p class="help-block">Warehouse where the product is expected to be dispatched from</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  
		<div class="modal-footer">
			<button class="btn btn-primary" data-bind="click: accept, enable: enableAccept">Accept</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
	</form>
</div>