<div class="modal-content">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 align="center">Add Client Order</h3>
		</div>
	  
		<div class="modal-body">
			<div class="row">
				<div class="control-group">
					<label class="control-label" for="inputClient">Client</label>
					<div class="controls">
						<select data-bind="options: clientList, optionsValue: 'id', optionsText: 'businessName', optionsCaption: '-- Select Client --', value: clientId" class="form-control" id="inputClient"></select>
						<p class="help-block">Client to create order for</p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="inputCompany">Company</label>
					<div class="controls">
						<select data-bind="options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- Select Company --', value: companyId" class="form-control" id="inputCompany"></select>
						<p class="help-block">Company to order from</p>
					</div>
				</div>
			</div>
		</div>
	  
		<div class="modal-footer">
			<button class="btn btn-primary" data-bind="click: add, enable: enableAdd">Add</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
	</form>
</div>