<br>
<div class="row row col-md-offset-2 col-md-8">
	<p class="indent text-justify">
		<strong>Primepad Industrial Corporation</strong> is a corporation duly registered under Philippine laws with the Securities and Exchange Commission on June 04, 2008 mainly for the purpose of buying and selling, marketing, distributing as wholesale/retail of goods specifically cleaning and sanitation items. 
	</p>
	<p class="indent text-justify">
		The company&#39;s main office is at 116 Gumamela Street, San Jose Village, Phase 5, Binan, Laguna. The company&#39;s Cavite branch business address is at Unit H Rheayanell Building, Puting Kahoy, Silang, Cavite, while the Pampanga branch is located at P01, B06, L28 Beverly Place Sabanilla, Mexico Pampanga. The telephone numbers are: 0917-936-2126; 0926-615-9373.
	</p>
	<p class="indent text-justify">
		The company is headed by <span class="text-info">Prudencio C. Dorion</span> as the president. <span class="text-info">Alvin A. Pineda</span>, a very young entrepreneur, is the Vice-President, <span class="text-info">Noemi A. Pineda</span> a business magnate is the company&#39;s dependable Chief Finance Officer while <span class="text-info">Dimpna G. Dorion</span> is Primepad&#39;s Chief Operation Officer.
	</p>
	<p class="indent text-justify">
		The company&#39;s Chief Executive Officer is the very intelligent and refined young woman, <span class="text-info">Aimee A. Pineda</span> and <span class="text-info">Rebecca B. Jacob</span>, honed by her previous undertakings from the Securities and Exchange Commission is the Company&#39;s Corporate Secretary.
	</p>
	<p class="indent text-justify">
		Recent addition to our team is <span class="text-info">Patrick Daniel K. Chua</span>, and his brother <span class="text-info">Vincent Peter K. Chua</span>, tasked as the Assistant Financial Officer and Manager respectively. They are the ones specifically handling our Pampanga branch.
	</p>
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/President.jpg" 
					alt="Prudencio C. Dorion"
					style="width:100%">
				<div class="caption">
					<strong>Prudencio C. Dorion</strong>
					<br>President / CEO
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Alvin.jpg" 
					alt="Alvin A. Pineda"
					style="width:100%">
				<div class="caption">
					<strong>Alvin A. Pineda</strong>
					<br>Vice-President
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Noemi.jpg" 
					alt="Noemi A. Pineda"
					style="width:100%">
				<div class="caption">
					<strong>Noemi A. Pineda</strong>
					<br>VP / Treasurer / CFO
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Dimpna.jpg" 
					alt="Dimpna G. Dorion"
					style="width:100%">
				<div class="caption">
					<strong>Dimpna G. Dorion</strong>
					<br>VP / COO
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Aimee.jpg" 
					alt="Aimee A. Pineda"
					style="width:100%">
				<div class="caption">
					<strong>Aimee A. Pineda</strong>
					<br>VP-Executive Officer
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Rebecca.jpg" 
					alt="Rebecca B. Jacob"
					style="width:100%">
				<div class="caption">
					<strong>Rebecca B. Jacob</strong>
					<br>Corp. Secretary
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Patrick.jpg" 
					alt="Patrick Daniel K. Chua"
					style="width:100%">
				<div class="caption">
					<strong>Patrick Daniel K. Chua</strong>
					<br>VP / Asst. Finance Officer
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Vincent.jpg" 
					alt="Vincent Peter K. Chua"
					style="width:100%">
				<div class="caption">
					<strong>Vincent Peter K. Chua</strong>
					<br>Marketing Officer
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/organization/Jasper.jpg" 
					alt="Adrian Jasper K. Chua"
					style="width:100%">
				<div class="caption">
					<strong>Adrian Jasper K. Chua</strong>
					<br>Systems Programmer
				</div>
			</div>
		</div>
	</div>
</div>