<div class="row row col-md-offset-2 col-md-8">
	<h3>Cavite Branch</h3>
	<ul class="list-group col-xs-6">
		<li class="list-group-item">EDS Manufacturing Inc.</li>
		<li class="list-group-item">H.S. Tech. Phils. Inc.</li>
		<li class="list-group-item">Hotel Dominique</li>
		<li class="list-group-item">HRD Singapore PTE. LTD.</li>
		<li class="list-group-item">Int&#39;l. British Academy</li>
		<li class="list-group-item">Int&#39;l. Precision Assemblies Inc.</li>
	</ul>
	<ul class="list-group col-xs-6">
		<li class="list-group-item">Lazaga Morales Multi Sales</li>
		<li class="list-group-item">Lyceum of the Phils. Univ.</li>
		<li class="list-group-item">MT. Sea Resort</li>
		<li class="list-group-item">NAVP Gen Merchandize</li>
		<li class="list-group-item">Telford SVC. Phils. Inc.</li>
		<li class="list-group-item">The Bayleaf Hotel</li>
	</ul>
</div>

<div class="row row col-md-offset-2 col-md-8">
	<h3>Pampanga Branch</h3>
	<ul class="list-group col-xs-6">
		<li class="list-group-item">Angeles Beach Club - Fild Plaza</li>
		<li class="list-group-item">Angeles Beach Club Hotel</li>
		<li class="list-group-item">Angeles Electric Company</li>
		<li class="list-group-item">AUF Medical Center</li>
		<li class="list-group-item">BDL Hardware</li>
		<li class="list-group-item">Best Western Hotel</li>
		<li class="list-group-item">Brightwood International School</li>
		<li class="list-group-item">Century Hotel</li>
		<li class="list-group-item">Clarkton Hotel</li>
		<li class="list-group-item">CLM</li>
		<li class="list-group-item">Everything Clean Laundry</li>
		<li class="list-group-item">Fontana Golf Club</li>
		<li class="list-group-item">Grace Crown Hotel</li>
		<li class="list-group-item">Gracelane Hotel</li>
		<li class="list-group-item">Invictus Food Products Corp</li>
	</ul>
	<ul class="list-group col-xs-6">
		<li class="list-group-item">Lewis Grand Hotel</li>
		<li class="list-group-item">Mega Royal</li>
		<li class="list-group-item">Neusmart</li>
		<li class="list-group-item">Oasis Hotel</li>
		<li class="list-group-item">Penthouse</li>
		<li class="list-group-item">Philexcel</li>
		<li class="list-group-item">PNS</li>
		<li class="list-group-item">RBI Steakhouse / Queens Hotel</li>
		<li class="list-group-item">Romac Services & Trading Company</li>
		<li class="list-group-item">Royal Norwegian</li>
		<li class="list-group-item">Royce Hotel</li>
		<li class="list-group-item">Spharkgem</li>
		<li class="list-group-item">TIPCO</li>
		<li class="list-group-item">Verman Services</li>
	</ul>
</div>

<div class="row row col-md-offset-2 col-md-8">
	<h3>Subic Branch</h3>
	<ul class="list-group col-xs-6">
		<li class="list-group-item">ACEA Subic Bay</li>
		<li class="list-group-item">DML</li>
		<li class="list-group-item">Hotel Kamana Sanctuary Resort Spa</li>
		<li class="list-group-item">Las Casas Filipinas de Acuzar</li>
	</ul>
	<ul class="list-group col-xs-6">
		<li class="list-group-item">Mansion Garden Hotel</li>
		<li class="list-group-item">Ocean Adventure</li>
		<li class="list-group-item">Subic Yacht Club</li>
		<li class="list-group-item">Travellers Hotel</li>
	</ul>
</div>