<br>
<div class="row row col-md-offset-2 col-md-8">
	<p class="indent text-justify">
		<strong>Dermbliss Corporation</strong> is a corporation duly registered under Philippine laws with the Securities and Exchange Commission on March 2020 mainly for the purpose of buying and selling, marketing, distributing as wholesale/retail of goods specifically cleaning and sanitation items. 
	</p>
	<p class="indent text-justify">
		The company&#39;s main office is at 42 Buenos Aires St. Vista Verde North Brgy. 166 Caloocan City, Third District, NCR, Philippines, 1420. The telephone number is: 02-798 78591.
	</p>
	<p class="indent text-justify">
		The company is headed by <span class="text-info">Alicia Marie Concepcion Malasa</span> as the president. <span class="text-info">Aimee Pineda Chua</span>, is the VP-COO, <span class="text-info">Alvin A. Pineda and Lexidy Agustin Sanchez</span> are the VP-Admin while<span class="text-info">Ferdinand Agustin Sanchez, Jr.</span> is VP-CFO.
	</p>
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/dreambliss_org/President.jpg" 
					alt="Alicia Mae Malasa"
					style="width:100%">
				<div class="caption">
					<strong>Alicia Mae Malasa</strong>
					<br>President / CEO
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/dreambliss_org/Aimee.jpg" 
					alt="Aimee Pineda Chua"
					style="width:100%">
				<div class="caption">
					<strong>Aimee Pineda Chua</strong>
					<br>VP-COO
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/dreambliss_org/Alvin.jpg" 
					alt="Alvin A. Pineda"
					style="width:100%">
				<div class="caption">
					<strong>Alvin A. Pineda</strong>
					<br>VP-Admin
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/dreambliss_org/Lexidy.jpg" 
					alt="Lexidy Agustin Sanchez"
					style="width:100%">
				<div class="caption">
					<strong>Lexidy Agustin Sanchez</strong>
					<br>VP-Admin
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="app/img/dreambliss_org/Ferdinand.jpg" 
					alt="Ferdinand A. Sanchez"
					style="width:100%">
				<div class="caption">
					<strong>Ferdinand A. Sanchez Jr.</strong>
					<br>VP-CFO
				</div>
			</div>
		</div>
	</div>
</div>