## Template for summarized version of Client Order
## Has a maximum of 133 columns per line
|${t.FormattedStatus}|${t.FormattedOrderId}|${t.FormattedClient}|${t.FormattedCompany}|${t.FormattedWarehouse}|${t.FormattedNetTotal}|
#if( $t.ShowNetTrail )
#foreach( $netTrailToken in $t.NetTrail)
|                          $netTrailToken      |
#end
+-------------------+---------+---------------------------------------+-----------------------------+--------------+----------------+
#end