## Template for Sales Order
## Has a maximum of 117 Column per line
                                                   SALES ORDER                                                    
                                                   
        DISTRIBUTOR : ${t.Distributor}
            COMPANY : ${t.Company}
         DELIVER TO : ${t.Client}
            ADDRESS : ${t.Address}
          CONTACT # : ${t.ContactNumber}
               DATE : ${t.Date}
               
 Sales Order #[[#]]#${t.OrderId}
+--------------+-------------------------------------------------+--------------+-------------------+--------------+
|   Quantity   |                 Item Description                |  Unit Price  |     Discount      |    Amount    |
+--------------+-------------------------------------------------+--------------+-------------------+--------------+
#foreach( $formattedOrderItem in $t.FormattedOrderItems)
$formattedOrderItem
#end
+--------------+-------------------------------------------------+--------------+-------------------+--------------+

#foreach( $netTrailToken in $t.NetTrail)
               $netTrailToken
#end