## Template for Sales Report
## Has a maximum of 103 columns per line
                                            SALES REPORT                                                       

           Date From : ${t.DateFrom}
             Date To : ${t.DateTo}
           Warehouse : ${t.Warehouse}
              Client : ${t.Client}
         Report Date : ${t.Date}
         
+-------------------+---------+---------------------------------------+--------------+----------------+
|      Status       |Order Id |                Client                 |  Warehouse   |     Amount     |
+-------------------+---------+---------------------------------------+--------------+----------------+
#foreach( $summarizedClientOrder in $t.SummarizedClientOrders )
$summarizedClientOrder#end
#if( !$t.ShowNetTrail )
+-------------------+---------+---------------------------------------+--------------+----------------+
#end

                    (${t.DateFrom} - ${t.DateTo}) Total Sales : ${t.TotalSales}