## Template for Sales Report
## Has a maximum of 123 columns per line
                                            SALES REPORT                                                       

           Date From : ${t.DateFrom}
             Date To : ${t.DateTo}
           Warehouse : ${t.Warehouse}
              Client : ${t.Client}
             Company : ${t.Company}
                Area : ${t.Area}
         Report Date : ${t.Date}
         
+-------------------+---------+---------------------------------------+-----------------------------+--------------+----------------+
|      Status       |Order Id |                Client                 |           Company           |  Warehouse   |     Amount     |
+-------------------+---------+---------------------------------------+-----------------------------+--------------+----------------+
#foreach( $summarizedClientOrder in $t.SummarizedClientOrders )
$summarizedClientOrder#end

                              (${t.DateFrom} - ${t.DateTo}) Total Sales : ${t.TotalSales}