<div class="modal-content modal-lg">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 align="center">Add Order</h3>
		</div>
	  
		<div class="modal-body">
			<div class="container-fluid">
				<div class="control-group">
					<label class="control-label" for="inputCompany">Company</label>
					<div class="controls">
						<select data-bind="options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- Select Company --', value: companyId" class="form-control" id="inputCompany"></select>
						<p class="help-block">Company to order from</p>
					</div>
				</div>
			</div>
		</div>
	  
		<div class="modal-footer">
			<button class="btn btn-primary" data-bind="click: add, enable: enableAdd">Add</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
	</form>
</div>