<div class="container-fluid">
	<br/>
	<div class="container-fluid">
		<button data-bind="click: add" type="button" class="btn btn-success col-md-3 col-xs-4"><i class="fa fa-plus-circle"></i> Add Order</button>
	</div>
	<br/>
	<div class="container-fluid">
		<label class="checkbox-inline col-xs-offset-1 col-xs-2">
			<input data-bind="checked: showPaid, event: { change: refreshClientOrderList }" type="checkbox" name="paidcheckbox">Show Paid
		</label>
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-9 col-xs-9"></div>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class = "text-center">ID</th>
						<th class = "text-center">Created On</th>
						<th class = "text-center">Last Status Update</th>
						<th class = "text-center">Total Amount</th>
						<th class = "text-center">Status</th>
					</tr>
				</thead>
				
				<tbody data-bind="foreach: { data: clientOrderList, as: 'clientOrder' }">
					<tr>
						<td data-bind="text: clientOrder.id" class = "text-center"></td>
						<td data-bind="text: clientOrder.formattedCreatedOn" class = "text-center"></td>
						<td data-bind="text: clientOrder.formattedUpdatedOn" class = "text-center"></td>
						<td data-bind="text: clientOrder.formattedNetTotal" class = "text-center"></td>
						<td data-bind="text: clientOrder.status.displayName" class = "text-center"></td>
						
						<td>
							<div class="btn-group pull-right">
								<!-- ko if: (clientOrder.status.name == 'CREATING' || clientOrder.status.name == 'SUBMITTED' ) -->
								<button data-bind="click: function() { $parent.open(clientOrder.id) } "type="button" class="btn btn-primary btn-sm" title="Open"><i class="fa fa-folder-open"></i></button>
								<!-- /ko -->
								<button data-bind="click: function() { $parent.view(clientOrder.id) } " type="button" class="btn btn-info btn-sm" title="View"><i class="fa fa-eye"></i></button>
								<button data-bind="click: function() { $parent.remove(clientOrder.id) }" type="button" class="btn btn-danger btn-sm" title="Remove"><i class="fa fa-times"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>