<br/>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#ourcompany" data-toggle="tab">Our Company</a></li>
		<li><a href="#ourclients" data-toggle="tab">Our Clients</a></li>
		<li><a href="#aboutus" data-toggle="tab">About Us</a></li>
		<li><a href="#contactus" data-toggle="tab">Contact Us</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="ourcompany">
			<div class="row col-xs-offset-2">
				<div class="row">
					<img src="app/img/primepadLogo.jpg" 
						class="col-lg-offset-4 col-lg-4
								col-sm-offset-3 col-sm-6 
								col-xs-offset-2 col-xs-8
								img-fluid"
						alt="primepad logo">
				</div>
				<h5 class="text-center">
					<strong>Prime Pad Industrial Corporation Pampanga</strong> is the official distributor of <span class="text-primary">Sealed Air - Diversey Care</span> products in <span class="text-primary">Pampanga</span>.
				</h5>
				<p class="indent text-justify">
					<strong>Prime Pad Industrial Corporation</strong> is a corporation duly registered under Philippine laws with the Securities and Exchange Commission on June 04, 2008.
				</p>
				<p class="indent text-justify">
					Our company as shown in our primary purpose committed to engage in the business of buying, selling, marketing, distribution of goods at wholesale/retail as may be permitted by law.
				</p>
				<p class="indent text-justify">
					Primepad's mission is to be one of the most trustworthy independent distributor possessed with selling competence, honesty and good business reputation.
				</p>
				<p class="indent text-justify">
					We opted to sell/offer products worthy of our needs. We sell products that would help in the maintenance of cleanliness inside and outside our homes. We meticulously chose products which are proven to be highly effective against a wide variety of pathogenic microorganisms including bacteria
				</p>
				<p class="indent text-justify">
					To attain our purpose, we purposely got the trust and confidence of Diversey which was earlier called JohnsonDiversey Philippines, Inc. Its products were being chosen by noted establishments in our country and majority of public users.
				</p>
				<p class="indent text-justify">
					We have a variety of cleaning products suited to your purpose. We sell waxes, cleaners, floor polishers and accessories and other allied products regularly manufactured originally packed and marketed by the said company. 
				</p>
				<p class="indent text-justify">
					We sought first all the legal requirements like registration as a corporation, together with permits and certifications to be able to deal with the public legally. 
				</p>
				<p class="indent text-justify">
					The Board of Directors of PRIMEPAD INDUSTRIAL CORPORATION fully supports the company&#39;s commitment to continue to serve you for as long as you patronize the products it offers. 
				</p>
				<blockquote class="blockquote text-right">
					<p class="mb-0">I assure you, <strong><q>YOU CAN RELY ON US!</q></strong></p>
					<footer class="blockquote-footer">Prudencio C. Dorion <cite title="Source Title">President</cite></footer>
				</blockquote>
				<br><br>
			</div>
		</div>
		
		<div class="tab-pane" id="ourclients">
			<div class="row col-xs-offset-2">
				<h3>Cavite Branch</h3>
				<ul class="list-group col-xs-6">
					<li class="list-group-item">EDS Manufacturing Inc.</li>
					<li class="list-group-item">H.S. Tech. Phils. Inc.</li>
					<li class="list-group-item">Hotel Dominique</li>
					<li class="list-group-item">HRD Singapore PTE. LTD.</li>
					<li class="list-group-item">Int&#39;l. British Academy</li>
					<li class="list-group-item">Int&#39;l. Precision Assemblies Inc.</li>
				</ul>
				<ul class="list-group col-xs-6">
					<li class="list-group-item">Lazaga Morales Multi Sales</li>
					<li class="list-group-item">Lyceum of the Phils. Univ.</li>
					<li class="list-group-item">MT. Sea Resort</li>
					<li class="list-group-item">NAVP Gen Merchandize</li>
					<li class="list-group-item">Telford SVC. Phils. Inc.</li>
					<li class="list-group-item">The Bayleaf Hotel</li>
				</ul>
			</div>
			
			<div class="row col-xs-offset-2">
				<h3>Pampanga Branch</h3>
				<ul class="list-group col-xs-6">
					<li class="list-group-item">Angeles Beach Club - Fild Plaza</li>
					<li class="list-group-item">Angeles Beach Club Hotel</li>
					<li class="list-group-item">Angeles Electric Company</li>
					<li class="list-group-item">AUF Medical Center</li>
					<li class="list-group-item">BDL Hardware</li>
					<li class="list-group-item">Best Western Hotel</li>
					<li class="list-group-item">Brightwood International School</li>
					<li class="list-group-item">Century Hotel</li>
					<li class="list-group-item">Clarkton Hotel</li>
					<li class="list-group-item">CLM</li>
					<li class="list-group-item">Everything Clean Laundry</li>
					<li class="list-group-item">Fontana Golf Club</li>
					<li class="list-group-item">Grace Crown Hotel</li>
					<li class="list-group-item">Gracelane Hotel</li>
					<li class="list-group-item">Invictus Food Products Corp</li>
				</ul>
				<ul class="list-group col-xs-6">
					<li class="list-group-item">Lewis Grand Hotel</li>
					<li class="list-group-item">Mega Royal</li>
					<li class="list-group-item">Neusmart</li>
					<li class="list-group-item">Oasis Hotel</li>
					<li class="list-group-item">Penthouse</li>
					<li class="list-group-item">Philexcel</li>
					<li class="list-group-item">PNS</li>
					<li class="list-group-item">RBI Steakhouse / Queens Hotel</li>
					<li class="list-group-item">Romac Services & Trading Company</li>
					<li class="list-group-item">Royal Norwegian</li>
					<li class="list-group-item">Royce Hotel</li>
					<li class="list-group-item">Spharkgem</li>
					<li class="list-group-item">TIPCO</li>
					<li class="list-group-item">Verman Services</li>
				</ul>
			</div>
			
			<div class="row col-xs-offset-2">
				<h3>Subic Branch</h3>
				<ul class="list-group col-xs-6">
					<li class="list-group-item">ACEA Subic Bay</li>
					<li class="list-group-item">DML</li>
					<li class="list-group-item">Hotel Kamana Sanctuary Resort Spa</li>
					<li class="list-group-item">Las Casas Filipinas de Acuzar</li>
				</ul>
				<ul class="list-group col-xs-6">
					<li class="list-group-item">Mansion Garden Hotel</li>
					<li class="list-group-item">Ocean Adventure</li>
					<li class="list-group-item">Subic Yacht Club</li>
					<li class="list-group-item">Travellers Hotel</li>
				</ul>
			</div>
		</div>
		
		<div class="tab-pane" id="aboutus">
			<div class="row col-xs-offset-2">
				<p class="indent text-justify">
					<strong>Prime Pad Industrial Corporation</strong> is a corporation duly registered under Philippine laws with the Securities and Exchange Commission on June 04, 2008 mainly for the purpose of buying and selling, marketing, distributing as wholesale/retail of goods specifically cleaning and sanitation items. 
				</p>
				<p class="indent text-justify">
					The company&#39;s main office is at 116 Gumamela Street, San Jose Village, Phase 5, Binan, Laguna. The company&#39;s Cavite branch business address is at Unit H Rheayanell Building, Puting Kahoy, Silang, Cavite, while the Pampanga branch is located at P01, B06, L28 Beverly Place Sabanilla, Mexico Pampanga. The telephone numbers are: 0917-936-2126; 0926-615-9373.
				</p>
				<p class="indent text-justify">
					The company is headed by <span class="text-info">Prudencio C. Dorion</span> as the president. <span class="text-info">Alvin A. Pineda</span>, a very young entrepreneur, is the Vice-President, <span class="text-info">Noemi A. Pineda</span> a business magnate is the company&#39;s dependable Chief Finance Officer while <span class="text-info">Dimpna G. Dorion</span> is Primepad&#39;s Chief Operation Officer.
				</p>
				<p class="indent text-justify">
					The company&#39;s Chief Executive Officer is the very intelligent and refined young woman, <span class="text-info">Aimee A. Pineda</span> and <span class="text-info">Rebecca B. Jacob</span>, honed by her previous undertakings from the Securities and Exchange Commission is the Company&#39;s Corporate Secretary.
				</p>
				<p class="indent text-justify">
					Recent addition to our team is <span class="text-info">Patrick Daniel K. Chua</span>, and his brother <span class="text-info">Vincent Peter K. Chua</span>, tasked as the Assistant Financial Officer and Manager respectively. They are the ones specifically handling our Pampanga branch.
				</p>
				<br>
				<div class="row">
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/president.jpg" 
								alt="Prudencio C. Dorion"
								style="width:100%">
							<div class="caption">
								<strong>Prudencio C. Dorion</strong>
								<br>President / CEO
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/alvin.jpg" 
								alt="Alvin A. Pineda"
								style="width:100%">
							<div class="caption">
								<strong>Alvin A. Pineda</strong>
								<br>Vice-President
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/noemi.jpg" 
								alt="Noemi A. Pineda"
								style="width:100%">
							<div class="caption">
								<strong>Noemi A. Pineda</strong>
								<br>VP / Treasurer / CFO
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/dimpna.jpg" 
								alt="Dimpna G. Dorion"
								style="width:100%">
							<div class="caption">
								<strong>Dimpna G. Dorion</strong>
								<br>VP / COO
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/aimee.jpg" 
								alt="Aimee A. Pineda"
								style="width:100%">
							<div class="caption">
								<strong>Aimee A. Pineda</strong>
								<br>VP-Executive Officer
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/rebecca.jpg" 
								alt="Rebecca B. Jacob"
								style="width:100%">
							<div class="caption">
								<strong>Rebecca B. Jacob</strong>
								<br>Corp. Secretary
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/patrick.jpg" 
								alt="Patrick Daniel K. Chua"
								style="width:100%">
							<div class="caption">
								<strong>Patrick Daniel K. Chua</strong>
								<br>VP / Asst. Finance Officer
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/vincent.jpg" 
								alt="Vincent Peter K. Chua"
								style="width:100%">
							<div class="caption">
								<strong>Vincent Peter K. Chua</strong>
								<br>Marketing Officer
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="app/img/organization/jasper.jpg" 
								alt="Adrian Jasper K. Chua"
								style="width:100%">
							<div class="caption">
								<strong>Adrian Jasper K. Chua</strong>
								<br>Systems Programmer
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="contactus">
			<div class="row col-xs-offset-2">
				<h4><strong>Connect with us:</strong></h4>
				<br/>
				<p>For support or any questions: <br/>
				Email us at <span class="text-info">primepad.pampanga@gmail.com</span> <br/>
				Call / Text <span class="text-info">+63 926 615 9373</span></p>
				<br/>
				<br/>
				<h5><strong>Warehouse is located at:</strong></h5>
				<p>P01, B06, L28, <br/>
				Beverly Place Sabanilla, <br/>
				Mexico, Pampanga</p>
			</div>
		</div>
	</div>
</div>