<div class="row col-md-offset-2 col-md-8">
	<div class="row">
		<img src="app/img/dermBlissLogo.jpg" 
			class="col-lg-offset-4 col-lg-4
					col-sm-offset-3 col-sm-6 
					col-xs-offset-2 col-xs-8
					img-fluid"
			alt="Derm Bliss logo">
	</div>
	<p class="indent text-justify">
		<strong>Dermbliss Corporation</strong> is duly registered under Philippine laws with the Securities and Exchange Commision on 2020.
	</p>
	<p class="indent text-justify">
		The name Dermbliss Corporation, was formed by a group of Young Entrepreneurs and ________________ who wants to build a company which specializes in skin care products for both men and women, young and old, pregnant and lactating mothers that will deliver real results.
	</p>
	<p class="indent text-justify">
		Our company aims to provide a full range of skin care from face and body as well as cosmetics that empower one's self through continuous usage of the products. These do not only correct skin imperfections, but also solve skin problems as they are infused with vitamins and essential oils for a healthier- looking supple skin that is specially formulated to be gentle yet effective.
	</p>
	<p class="indent text-justify">
		We believe in providing the best skin care products possible. Our brands are free of harmful colorants and fragrances, mineral oils, petroleum, and other harsh cosmetic chemicals. We aim to create a brand that contain potent beautifying and healing properties.
	</p>
	<p class="indent text-justify">
		To maintain a high standard of quality, research and product development are carefully and meticulously supervised by the board that will give the most effective formulation and satisfaction to our clientele.
	</p>
	<p class="indent text-justify">
		ALL the necessary permits and licenses under the name of the corporation were properly secured and applied for. 
	</p>
	<p class="indent text-justify">
		Rest assured that the company will listen to customer demands, meet customer needs, improve service quality, provide guidance of properly using our skin line the best possible way we can. Thank you so much we are hoping to see all of you look flawlessly natural with DREAMBLISS.
	</p>
</div>
