<div class="modal-content modal-lg">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
		<h3 align="center">Add Item</h3>
	</div>
  
	<div class="modal-body">
		<div class="row">
			<form role="search" class="form-inline col-md-6 col-xs-6">
		        <div class="input-group" >
		          	<input data-bind="value: searchKey" type="text" class="form-control autofocus" placeholder="Search">
			        <span class="input-group-btn">
			        	<button data-bind="click: search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
			        </span>
		        </div>
	      	</form>
	      	
	      	<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-6 col-xs-6"></div>
      	</div>
     
     	<div class="row">
			<span data-bind="html: log" class="text-center"></span>
		</div>
      	
      	<div class="row">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th class = "text-center">Stock Here</th>
							<th class = "text-center">All Stock</th>
							<th class = "text-right">Net Price (Php)</th>
						</tr>
					</thead>
					
					<tbody data-bind="foreach: { data: productList, as: 'product' }">
						<tr>
							<td data-bind="text: product.displayName"></td>
							<td data-bind="text: product.formattedStockCountCurrent" class = "text-center"></td>
							<td data-bind="text: product.formattedStockCountAll" class = "text-center"></td>
							<td data-bind="text: product.formattedPackageNetPrice" class = "text-right"></td>
							
							<td>
								<div class="btn-group pull-right">
									<button data-bind="click: function() { $parent.view(product.id) } " type="button" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></button>
									<button data-bind="click: function() { $parent.addItem(product.id) }, enable: $parent.enableAdd" type="button" class="btn btn-success btn-sm"><i class="fa fa-cart-plus"></i></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
 
	<div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: cancel">Done</button>
	</div>
</div>