<div class="container-fluid">
	<br/>
	<div class="container-fluid">
		<button data-bind="click: add" type="button" class="btn btn-success col-md-3 col-xs-4"><i class="fa fa-plus-circle"></i> Add Purchase Order</button>
		<form role="search" class="form-inline">
			<div class="input-group pull-right col-md-5 col-sm-6 col-xs-7">
				<select data-bind="options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- All Company --', value: companyId, event: { change: refreshPurchaseOrderList }" class="form-control" id="inputCompany"></select>
				<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
				<select data-bind="options: areaList, optionsValue: 'name', optionsText: 'displayName', optionsCaption: '-- All Area --', value: area, event: { change: refreshPurchaseOrderList }" class="form-control" id="inputArea"></select>
	        </div>
      	</form>
	</div>
	<br/>
	<div class="container-fluid">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class = "text-center">ID</th>
						<th class = "text-center">Last Update</th>
						<th>Company</th>
						<th>Area</th>
						<th class = "text-center">Total Amount</th>
					</tr>
				</thead>
				
				<tbody data-bind="foreach: { data: purchaseOrderList, as: 'purchaseOrder' }">
					<tr>
						<td data-bind="text: purchaseOrder.id" class = "text-center"></td>
						<td data-bind="text: purchaseOrder.formattedUpdatedOn" class = "text-center"></td>
						<td data-bind="text: purchaseOrder.company.name"></td>
						<td data-bind="text: purchaseOrder.area.displayName"></td>
						<td data-bind="text: purchaseOrder.formattedNetTotal" class = "text-center"></td>
						
						<td>
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-folder-open"></i></button>
								<button data-bind="click: function() { $parent.edit(purchaseOrder.id) } " type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
								<button data-bind="click: function() { $parent.remove(purchaseOrder.id) }" type="button" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>