<br/>
<div class="row">
	<button data-bind="click: add" type="button" class="btn btn-success col-md-2 col-xs-3"><i class="fa fa-plus-circle"></i> Add Client</button>
	<button data-bind="click: priceSettings" type="button" class="btn btn-warning col-md-2 col-xs-3"><i class="fa fa-gear"></i> Price Settings</button>
	<form role="search" class="form-inline">
        <div class="input-group pull-right col-md-5 col-xs-5">
        	<select data-bind="options: areaList, optionsValue: 'name', optionsText: 'displayName', optionsCaption: '-- All Areas --', value: area, event: { change: search }" class="form-control" id="inputArea"></select>
			<span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
          	<input data-bind="textInput: searchKey" type="text" class="form-control" placeholder="Search">
	        <span class="input-group-btn">
	        	<button data-bind="click: search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
	        </span>
        </div>
     	</form>
</div>
<br/>
<div class="row">
	<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
</div>
<div class="row">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class = "text-center">ID</th>
					<th>Name</th>
					<th>Email Address</th>
					<th>Contact Number</th>
					<th>Area</th>
					<th class = "text-center">Vat Type</th>
				</tr>
			</thead>
			
			<tbody data-bind="foreach: { data: clientList, as: 'client' }">
				<tr>
					<td data-bind="text: client.id" class = "text-center"></td>
					<td data-bind="text: client.businessName"></td>
					<td data-bind="text: client.emailAddress"></td>
					<td data-bind="text: client.contactNumber"></td>
					<td data-bind="text: client.businessArea.displayName"></td>
					<td data-bind="text: client.vatType.displayName" class = "text-center"></td>
					
					<td>
						<div class="btn-group pull-right">
							<button data-bind="click: function() { $parent.view(client.id) } " type="button" class="btn btn-info btn-sm" title="View"><i class="fa fa-eye"></i></button>
							<button data-bind="click: function() { $parent.settings(client.id) } " type="button" class="btn btn-primary btn-sm" title="Payment Settings"><i class="fa fa-gear"></i></button>
							<button data-bind="click: function() { $parent.edit(client.id) } " type="button" class="btn btn-warning btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>