<div class="modal-content">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 data-bind="text: title" align="center"></h3>
		</div>
	  
		<div class="modal-body">
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Client-Company Price Details</h3>
					</div>
					
					<div class="panel-body">
						<div class="control-group">
							<label class="control-label" for="inputClient">Client</label>
							<div class="controls">
								<select data-bind="enable: enableSelect, options: clientList, optionsValue: 'id', optionsText: 'businessName', optionsCaption: '-- Select Client --', value: clientCompanyPriceFormModel.clientId" class="form-control" id="inputClient"></select>
								<p class="help-block">Client to create price settings for</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="inputCompany">Company</label>
							<div class="controls">
								<select data-bind="enable: enableSelect, options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- Select Company --', value: clientCompanyPriceFormModel.companyId" class="form-control" id="inputCompany"></select>
								<p class="help-block">Company to create price settings for</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="discount">Client Discount (%)</label>
							<div class="controls">
								<input data-bind="textInput: clientCompanyPriceFormModel.discount" type="number" step="any" id="discount" name="discount" placeholder="" class="form-control input-lg">
								<p class="help-block">The discount given to the client for all purchases from the selected company. Discount is applied after the gross total.</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="discount">Markup (%)</label>
							<div class="controls">
								<input data-bind="textInput: clientCompanyPriceFormModel.markup" type="number" step="any" id="markup" name="markup" placeholder="" class="form-control input-lg">
								<p class="help-block">The markup seamlessly applied to all products of the selected company. Client discount and VAT still applies on top of markup.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" data-bind="click: save">Save</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
  	</form>
</div>