<div class="modal-content">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 data-bind="text: title" align="center"></h3>
		</div>
	  
		<div class="modal-body">
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Product Information</h3>
					</div>
					
					<div class="panel-body">
						<div class="control-group">
							<label class="control-label" for="company">Select Company</label>
							<div class="controls">
								<select data-bind="options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- Select Company --', value: productFormModel.companyId" class="form-control select-lg autofocus" id="company"></select>
								<p class="help-block">Select the company or supplier of the product</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="category">Select Category</label>
							<div class="controls">
								<select data-bind="options: categoryList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- Select Category --', value: productFormModel.categoryId" class="form-control select-lg" id="category"></select>
								<p class="help-block">Select the category of the product</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="productCode">Product Code</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.productCode" type="text" id="productCode" name="productCode" placeholder="" class="form-control input-lg">
								<p class="help-block">The code of the product as given by the company/supplier</p>
							</div>
						</div>
					
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.name" type="text" id="name" name="name" placeholder="" class="form-control input-lg">
								<p class="help-block">Name of the Product (include brand name)</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="size">Size</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.size" type="text" id="size" name="size" placeholder="" class="form-control input-lg">
								<p class="help-block">Size of the Product (e.g. 150g, 350ml, 1L)</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="packaging">Packaging</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.packaging" type="number" step="any" id="packaging" name="packaging" placeholder="" class="form-control input-lg">
								<p class="help-block">Number of <span data-bind="text: productFormModel.size" class="text-primary"></span> per package</p>
								<!-- ko if: title == 'Edit Product' -->
								<p class="help-block text-danger">Warning! Make sure that all existing old packaging stocks are sold or returned before changing the packaging.</p>
								<!-- /ko -->
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="description">Description</label>
							<div class="controls">
								<textarea data-bind="textInput: productFormModel.description" id="description" name="description" placeholder="" class="form-control input-lg"></textarea>
								<p class="help-block">Description of the Product as given by the company</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Pricing Information</h3>
					</div>
						
					<div class="panel-body">
						<div class="control-group">
							<label class="control-label" for="packageGrossPrice">Gross Price</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.packageGrossPrice" type="number" step="any" id="packageGrossPrice" name="packageGrossPrice" placeholder="" class="form-control input-lg">
								<p class="help-block">VAT inclusive price of each package(<span class="text-primary"><span data-bind="text: productFormModel.packaging"></span>x<span data-bind="text: productFormModel.size"></span></span>) as given by the company</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="discount">Discount (%)</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.discount" type="number" step="any" id="discount" name="discount" placeholder="" class="form-control input-lg">
								<p class="help-block">Discount of (Php <span data-bind="text: discountAmount" class="text-primary"></span>) per package as given by the company</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="packageSellingPrice">Selling Price</label>
							<div class="controls">
								<input data-bind="textInput: productFormModel.packageSellingPrice" type="number" step="any" id="packageSellingPrice" name="packageSellingPrice" placeholder="" class="form-control input-lg">
								<p class="help-block">Net price received from the company/supplier is Php <span data-bind="text: productFormModel.packageNetPrice" class="text-primary"></span> per package</p>
								<p class="help-block">Profit of Php <span class="text-primary"><span data-bind="text: profitAmount" class="text-primary"></span>(<span data-bind="text: productFormModel.percentProfit"></span>%)</span> per package</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" data-bind="click: save">Save</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
  	</form>
</div>