<br/>
<div class="row">
	<h4 class="col-xs-6">Total Payable: <span data-bind="text: formattedPayable" class="text-primary"></span></h4>
	<form role="search" class="form-inline">
		<div class="input-group pull-right col-md-3 col-sm-4 col-xs-5">
			<select data-bind="options: warehouseList, optionsValue: 'name', optionsText: function(warehouse) { return ko.unwrap(warehouse.displayName) + ' - ' + ko.unwrap(warehouse.address) }, optionsCaption: '-- All Warehouse --', value: warehouse, event: { change: refreshClientOrderList }" class="form-control" id="inputWarehouse"></select>
        </div>
     	</form>
</div>
<br/>
<div class="row">
	<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12 col-xs-12"></div>
</div>
<div class="row">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class = "text-center">ID</th>
					<th class = "text-center">Deliver Date</th>
					<th>Client</th>
					<th>Company</th>
					<th>Dispatcher</th>
					<th>Warehouse</th>
					<th class = "text-center">Status</th>
					<th class = "text-right">Amount (Php)</th>
				</tr>
			</thead>
			
			<tbody data-bind="foreach: { data: clientOrderList, as: 'clientOrder' }">
				<tr>
					<td data-bind="text: clientOrder.id" class = "text-center"></td>
					<td data-bind="text: clientOrder.formattedUpdatedOn" class = "text-center"></td>
					<td><a data-bind="text: clientOrder.client.businessName, click: function() { $parent.viewClient(clientOrder.client.id) }"></a></td>
					<td data-bind="text: clientOrder.company.name"></td>
					<td data-bind="text: clientOrder.dispatcher.formattedName"></td>
					<td data-bind="text: clientOrder.warehouse.displayName"></td>
					<td data-bind="text: clientOrder.status.displayName" class = "text-center"></td>
					<td data-bind="text: clientOrder.formattedNetTotal" class = "text-right"></td>
					
					<td>
						<div class="btn-group pull-right">
							<button data-bind="click: function() { $parent.pay(clientOrder.id, clientOrder.formattedNetTotal) } " type="button" class="btn btn-success btn-sm" title="Pay"><i class="fa fa-money"></i></button>
							<button data-bind="click: function() { $parent.view(clientOrder.id) } " type="button" class="btn btn-info btn-sm" title="View"><i class="fa fa-eye"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>